<br>
<section class="kardex">
    <h2>Calificaciones Globales</h2>
    <br>
    <p>Alumno: </p>
    <p>Boleta: </p>
    <p>Promedio: </p>
    <br>

    
    <table border="2" class="tablas">
        <tr>
			<th>Clave</th>
			<th>Materia</th>
            <th>Fecha</th>
            <th>Forma de Ev</th>
            <th>Calificacion</th>
		</tr>
        <tr>
            <th> {{clave}} </th>
            <th> {{materia}} </th>
            <th> {{fecha}} </th>
            <th> {{ev}} </th>
            <th> {{calif}} </th>
        </tr>
    </table>
    
</section>