<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: rgb(107, 23, 64)">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mis datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mi Inscripcion actual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reinscripciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tramites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ETS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dictamen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Saberes Previos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

