.navbar{
    margin: 0px 0px !important;
}

.nav-item{
    padding: 0 12px;
}

.nav-link{
    color: white !important;
    border-radius: 20px;
    padding: 0 12px;
    width: auto;
}

.nav-link:hover{
    color: white !important;
    font-weight: bold !important;
}

.nav-link:focus{
    font-weight: bold;
    color: rgb(107, 23, 64) !important;
    background-color: white;
    padding: 0 12px;
}

.dropdown-menu{
    border: 1px solid rgb(107, 23, 64);
    margin-left: 8%;
}

.dropdown-item{
    color: rgb(107, 23, 64);
}

.dropdown-item:hover{
    background-color: rgba(192, 192, 192, 0.5);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu:hover {
    position: relative;
    background-color: rgba(192, 192, 192, 0.5);
}
  
  
.dropdown-submenu>.dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
margin-left: -1px;
-webkit-border-radius: 0 6px 6px 6px;
-moz-border-radius: 0 6px 6px;
border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
display: block;
}

.dropdown-submenu>a:after {
display: block;
content: " ";
float: right;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 5px 0 5px 5px;
border-left-color: rgb(107, 23, 64);
margin-top: 5px;
margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
border-left-color: rgb(107, 23, 64);
}

.dropdown-submenu.pull-left {
float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
left: -100%;
margin-left: 10px;
-webkit-border-radius: 6px 0 6px 6px;
-moz-border-radius: 6px 0 6px 6px;
border-radius: 6px 0 6px 6px;
}