<div class="contenedor">
    <div class="card body">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" style="color:black">Boleta*</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" style="color:black">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          
          <a >¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
</div>