<app-header></app-header>


<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h3  class="card-title">Iniciar sesi&oacute;n</h3>
        <br>
        <form [formGroup]="formlogin" (submit)="send()" errorTailor>
        <div class="mb-3 d-flex flex-column">
          <input type="text" class="form-control" formControlName="boleta" placeholder="Boleta" minlength="10" maxlength="10" size="10">

        </div>
        <div class="mb-3 d-flex flex-column">
          <input type="password" minlength="4" maxlength="16" size="16" class="form-control" formControlName="password" placeholder="Contraseña" [controlErrorsTpl]="passwordError">
        </div>

        <div class="mb-3">
          <a href=" " data-bs-toggle="modal" data-bs-target="#exampleModal">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="mb-3">
          <button class="btn btn-primary" [disabled]="formlogin.invalid">Login</button>
        </div>
      </form>
      <div>
        
      </div>
      </div>
  </div>

  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recuperar contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
        <input class="form-control" type="mail" placeholder="alguien@example.com">
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Recuperar Contraseña</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="Error" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recuperar contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
        <h2 style="color: brown;">Error: No se encontro un usuario registrado.</h2>
      </div>
      </div>
    </div>
  </div>
</div>






<ng-template let-error let-text="text" #passwordError >
 {{text}}

</ng-template>

<app-footer></app-footer>