<section class="form-register">
    <h2>Direccion</h2>
    <p>
        Correo: <input class="controls" type="email" name="correo" id="correo">
    </p>
    <p>
        Calle: <input class="controls" type="text" name="calle" id="calle">
    </p>
    <p>
        Num Int: <input class="controls" type="text" name="numint" id="numint">
    </p>
    <p>
        Num Ext: <input class="controls" type="text" name="numext" id="numext">
    </p>
    <p>
        Colonia: <input class="controls" type="text" name="colonia" id="colonia">
    </p>
    <p>
        Cp: <input class="controls" type="text" name="cp" id="cp">
    </p>
    <p>
        Estado: <input class="controls" type="text" name="estado" id="estado">
    </p>
    <p>
        Del/Mun: <input class="controls" type="text" name="DelMun" id="DelMun">
    </p>
    <p>
        Telefono: <input class="controls" type="text" name="telefono" id="telefono">
    </p>
    <p>
        Movil: <input class="controls" type="text" name="movil" id="movil">
    </p>
    <p>
        <input class="botons" type="submit" value="Modificar">
    </p>
  </section>
