<div class="container">
    <div class="barra-lateral">
        <h1>Alumno</h1> 
        <svg xmlns="http://www.w3.org/2000/svg" width="20vw" height="20vh" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        </svg>
        <p><span>Boleta:</span> 2018630607</p>  
        <p><span>Nombre:</span> Jesus Alfredo Cordoba Dionicio</p>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="10vw" height="10vh" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
        </svg><label>Cerrar sesion</label></a>
    </div>
    <div class="main">
        <div class="sub-header">
            <h1 id="title-subheader">Bienvenido al Sistema de Administración Escolar</h1>
        </div>
        <div class="news-container">
           <p>Comunicados</p>
           <div class="row">
                <div class="col-md-4">
                        <a href="https://www.ipn.mx/imageninstitucional/comunicados/ver-comunicado.html?y=2022&n=26&t=6" class="link-new"> 
                           <img src="assets/img/new1.jpg" alt="Inicia IPN Brigadas Multidisciplinarias de Servicio Social Comunitario Primavera 2022" class="poster">
                           <p>Inicia IPN Brigadas Multidisciplinarias de Servicio Social Comunitario Primavera 2022</p>
                        </a>
                </div>
                <div class="col-md-4">
                        <a href="https://www.ipn.mx/imageninstitucional/comunicados/ver-comunicado.html?y=2022&n=25&t=6" class="link-new">
                            <img src="assets/img/new2.jpg" alt="IPN prueba efectividad de planta medicinal contra cáncer de mama" class="poster">
                            <p>IPN prueba efectividad de planta medicinal contra cáncer de mama</p>
                        </a>
                </div>
                <div class="col-md-4">
                        <a href="https://www.ipn.mx/imageninstitucional/comunicados/ver-comunicado.html?y=2022&n=24&t=6" class="link-new">
                            <img src="assets/img/new3.jpg" alt="IPN analiza calidad de agua pluvial en CDMX" class="poster">
                            <p>IPN analiza calidad de agua pluvial en CDMX</p>
                        </a>
                </div>
            </div>      
        </div>
    </div>
</div>

