<app-header></app-header>
<app-navbar></app-navbar>
<div class="container">
    <app-navdata></app-navdata>
    <div class="main">
        <div class="sub-header">
            <h1 id="title-subheader">Bienvenido al Sistema de Administración Escolar</h1>
        </div>
        <div class="news-container">
           <p>Comunicados</p>
           <div class="row">
                <div class="col-md-4">
                        <a href="https://www.ipn.mx/imageninstitucional/comunicados/ver-comunicado.html?y=2022&n=26&t=6" class="link-new"> 
                           <img src="assets/img/new1.jpg" alt="Inicia IPN Brigadas Multidisciplinarias de Servicio Social Comunitario Primavera 2022" class="poster">
                           <p>Inicia IPN Brigadas Multidisciplinarias de Servicio Social Comunitario Primavera 2022</p>
                        </a>
                </div>
                <div class="col-md-4">
                        <a href="https://www.ipn.mx/imageninstitucional/comunicados/ver-comunicado.html?y=2022&n=25&t=6" class="link-new">
                            <img src="assets/img/new2.jpg" alt="IPN prueba efectividad de planta medicinal contra cáncer de mama" class="poster">
                            <p>IPN prueba efectividad de planta medicinal contra cáncer de mama</p>
                        </a>
                </div>
                <div class="col-md-4">
                        <a href="https://www.ipn.mx/imageninstitucional/comunicados/ver-comunicado.html?y=2022&n=24&t=6" class="link-new">
                            <img src="assets/img/new3.jpg" alt="IPN analiza calidad de agua pluvial en CDMX" class="poster">
                            <p>IPN analiza calidad de agua pluvial en CDMX</p>
                        </a>
                </div>
            </div>      
        </div>
    </div>
</div>
<app-footer></app-footer>