* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
h2{
    text-align: center;
}
.form-register {
    text-align: center;
    width: 1000px;
    background: #ffffff;
    border: 6px solid rgb(107, 23, 64);
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    font-family: 'Arial';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
    justify-content: center;
}
.form-register h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
.controls {
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.form-register .botons {
    width: 50%;
    
    background: rgb(107, 23, 64);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }