<section class="form-register">
    <h2>Datos Generales</h2>
    <p>
        Boleta: <input class="controls" type="text" name="boleta" id="boleta">
    </p>
    <p>
        Nombre: <input class="controls" type="text" name="nombre" id="nombre">
    </p>
    <p>
        Plantel: <input class="controls" type="text" name="plantel" id="plantel">
    </p>
    <p>
        CURP: <input class="controls" type="text" name="curp" id="curp">
    </p>
    <p>
        RFC: <input class="controls" type="text" name="rfc" id="rfc">
    </p>
    <p>
        Sexo:  
        <input type="radio" name="sexo" value="h"> Hombre
        <input type="radio" name="sexo" value="m"> Mujer
    </p>
    <p>
        <input class="botons" type="submit" value="Modificar">
    </p>
  </section>