body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.bogartmagazine.mx%2Fhomenajes%2Fbibliotecas-maquinas-del-tiempo-y-de-suenos%2F&psig=AOvVaw3L_M90cSh13JzI3-liR55l&ust=1649755471814000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCNCs8JvYi_cCFQAAAAAdAAAAABAU");
    
  }